html {
  height: 100%;
}

body {
  height: 100%;
}

div.container-fluid {
  height: 100%;
}

div#participants {
  overflow-y: auto;
  width: 100%;
}

div.participant {
  background: center no-repeat url("data:image/svg+xml;utf8,<svg class='bi bi-person-fill' width='80' height='45' viewBox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z' clip-rule='evenodd'/></svg>");
  border: 1px solid gray;
  display: inline-flex;
  height: 300px;
  /* margin: 10px 5px; */
  width: 100%;
  overflow: hidden;
  padding: 0px;
}

div.participant > video {
  width: 100%;
  padding: 5px;
}

div.participant.main {
  height: inherit;
  margin: 10px 0;
  max-width: 100%;
  width: 100%;
}

div.participant.main > video {
  height: 720px;
}

div.participant.active {
  border: 1px solid crimson;
  box-shadow: 0 0 5px crimson;
}

div.participant.active.pinned {
  border: 1px solid limegreen;
  box-shadow: 0 0 5px limegreen;
}

div.participant:hover {
  cursor: pointer;
}

div.participant::before {
  background-color: black;
  color: white !important;
  content: attr(data-identity);
  font-size: 10px;
  padding: 0 5px;
  position: absolute;
  z-index: 1000;
}

div.participant.main::before {
  font-size: 14px;
  padding: 0 10px;
}

@media (max-width: 576px) {
  div#participants {
    overflow-x: auto;
    white-space: nowrap;
  }

  div.participant.main > video {
    height: 180px;
  }
}

@media (max-width: 768px) {
  div.participant.main > video {
    height: 270px;
  }
}


section {
  height:70%;
  background-color:#2B2B2A;
}

section input {
  display:block;
  height:52px;
  width:100%;
  margin:10px auto;
  outline:none;
  background-color:#565656;
  border:none;
  border-bottom:1px solid #2B2B2A;
  /* font-size:42px; */
  color:#eee;
  padding: 10px;
}

section button {
  background-color:#565656;
  /* font-size:42px; */
  color:#eee;
  padding: 10px;
}

header {
  width:100%;
  text-align:right;
  bottom:20px;
}


.other {
  float: left;
  padding: 10px 20px;
  width: 97%;
  border-radius: 10px;
  margin-bottom: 10px;
  background: #313131;
}
#messages {
  background-color: #232323;
  padding: 20px;
  min-height: calc(50vh - 50px);
  max-height: calc(80vh - 50px);
  /* width: 800px; */
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
  float: left;
  width: 100%;
}
.message-container {
  margin: 5px 0;
  color: #fff;
  float: left;
  width: 100%;
}

#messages p {
margin:5px 0;
padding:0;
}

.info {
margin:5px 0;
font-style:italic;
}



.message-container .username {
display:inline-block;
margin-right:5px;
font-weight:bold;
color:#849091;
}

.username.me {
font-weight:bold;
color:cyan;
/* float: right; */
}

.message-container .username.me {
display:inline-block;
margin-right:5px;
}

.message.me {
/*float: right;*/
margin-right: 5px;
}

.mine {
   float: left;
  width: 97%;
  background: #565656;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 13px;
  font-family: arial;
text-align:right;
 margin-bottom: 10px;
}